article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/*a:focus {
	.tab-focus();
}*/
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* default */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
  color: #000;
  font-family: arial;
}
li {
  list-style: none;
}
/* Grid */
#moza {
  display: block;
  height: 500px;
  width: 700px;
  float: left;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
#moza .tile {
  position: absolute;
  overflow: hidden;
  display: none;
}
#moza .tile a {
  color: #FFFFFF;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #EEEEEE;
}
#moza .tile a:hover img {
  opacity: 0.85;
}
#moza .tile span {
  display: block;
}
#moza .tile .wrapper {
  padding: 7px;
  margin-top: 0;
  overflow: visible;
}
#moza .tile .big {
  font-size: 14px;
  line-height: 15px;
}
#moza .tile .medium {
  font-size: 11px;
  line-height: 14px;
}
#moza .tile .small {
  font-size: 12px;
  line-height: 15px;
}
#moza .tile .small .infos {
  display: none;
}
#moza .tile img {
  position: relative;
  opacity: 0;
}
#moza .tile .infos {
  background-color: rgba(0, 0, 0, 0.8);
  tooltirder: 0 none;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
body {
  font-family: 'Open Sans', arial;
}
#container {
  width: 900px;
  margin: 0 auto;
}
#moza {
  width: 100%;
  height: 400px;
}
